html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c9b5ab;
  line-height: 1.5;
  text-decoration: none;
  font-family: "PT Serif";
  font-style: normal;
}

h1, h2 {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  font-size: 1.5rem;
  color: #3f1622;
}

nav ol {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  font-size: 1.125rem;
  color: #8f2440;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #8f2440;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

img {
  width: 100%;
}

figcaption {
  font-family: "PT Serif";
  font-size: .8rem;
  color: #222;
  text-align: center;
  font-style: italic;
}

main {
  font-size: 1.125rem;
  color: #222;
}

main p:first-child {
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
  text-align: left;
  text-indent: .8em;
  font-weight: normal;
  font-style: italic;
}

cite {
  font-size: .8rem;
}

main ol {
  list-style-type: lower-greek;
}

p:last-of-type {
  font-style: italic;
}

dt {
  font-weight: bold;
}

aside ul {
  list-style-type: circle;
}
